<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
    {{styling | safe}}
  </head>
  
  <body>
    <div class = navbar>
      <nav style="display: inline-block;">
        <ul class="nav navbar-nav">
          <li><a href="#">Articles</a></li>
          <li><a href="#">QW+</a></li>
          <li><a href="/wordle">wordle</a></li>
        </ul>
      </nav>
    </div>
    <a href="/user">my profile (not functional)</a>
    <br>
    <a href="/logout">logout (is functional)</a>
    <h1>Quarter Weather</h1>
  <h3>In {{city}}, it's {{weather_T}} at {{tmp}} F! <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png"></h3>

  <div class="d-inline-flex gap-1">
    {{articles | safe}}
  </div>
  <p>{{w}}</p>
  


  </body>
