<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login</title>
  </head>
  <body>
    <div>
      <h3>login</h3>
      <p>{{warning}}</p>
      <form action = "/" method="POST">
        <input type = "text"  id= "username" name= "username" placeholder= "username">
        <input type= "password" class= "form-control" id= "password" name= "password" placeholder= "password">
        <button type = "submit">login</button>  
      <form>
      <a href="http://127.0.0.1:5000/register"><button>Go to Register</button></a>     
    </div>
  </body>
</html>
