<!DOCTYPE html>
<html lang="en">
<head>
  <title>wordle+1</title>
    <style>
    canvas {
        border:1px solid #ffffff;
        background-color: #f1f1f1;
    }
    </style>
</head>
<body onload="start()">
<!-- heading -->
  <div>
    <a href = "/home"><h3>QuarterCollective's Wordle+1</h3></a>
  </div>

<!-- wordle -->
  <div>
    <script>
        var answer;
        var guesses;
        var guessNum;
        var guessed;

        // visuals
        var width;
        var height;
        var grid;

        var correct = "#3cb05f";
        var misplaced = "#edcb5a";
        var incorrect = "#757575";

        function start(){
            width = 405;
            height = 600;

            answer = "SAMPLE";// answer, needs to be caps for now
            guessNum = 0;//which attempt is the user on right now
            guessed = false;//if user won or not

            myWordle = new TheWordle(answer, width, height);
            playplace.start();
        }// start()

        var playplace = {
            canvas: document.createElement("canvas"),
            start : function() {
                this.canvas.width = width;
                this.canvas.height = height;
                this.context = this.canvas.getContext("2d");
                document.body.appendChild(this.canvas);
                this.frameNo = 0;
                this.interval = setInterval(updateGameArea, 20);
            },
            clear: function() {
                this.context.clearRect(0,0,this.canvas.width,this.canvas.height)
            }
        };// playplace

        class TheWordle {
          constructor(goal, w, h){
            this.ans = goal;
            this.size = [w,h]
            this.ctx = playplace.canvas.getContext("2d");

            this.record = Array.from({ length: 6 }, () => Array(6).fill(null));
            this.recordPos = 0;

            this.guess = Array(6).fill(null);
            this.guessPos = 0;

            this.spacing = 15;
            this.squareSize = (this.size[0]-(7*15))/6; //50x50px



            this.populate();
          }

          populate(){
            //record
            for (let i = 0; i < this.record.length; i++) {
              for (let n = 0; n < this.record[i].length; n++) {
                let sx = this.spacing+(n*(this.squareSize+this.spacing));
                let sy = this.spacing+(i*(this.squareSize+this.spacing));
                this.record[i][n] = new square("_", sx, sy, this.squareSize);
              }
            }

            //guess
            for (let i = 0; i < this.guess.length; i++){
              let sx = this.spacing+(i*(this.squareSize+this.spacing));
              let sy = this.size[1]-this.spacing-this.squareSize;
              this.guess[i] = new square("_", sx, sy, this.squareSize);
            }
          }// populate()

          display(ctx){
            for (let i = 0; i < this.record.length; i++) {
              for (let n = 0; n < this.record[i].length; n++) {
                this.record[i][n].display();
              }
            }

            for (let i = 0; i < this.guess.length; i++){
              this.guess[i].display();
            }
            this.ctx.font = "15px monospace";
            this.ctx.fillStyle = "#636363"
            for (let i = 1; i < 7; i++){
              this.ctx.fillText(i,this.spacing/4,(i*(this.spacing+this.squareSize))-(this.squareSize/2)+this.spacing/4)
            }
          }// display()

          addToGuess(char) {
            if (this.guessPos < 6) {
              this.guess[this.guessPos].val = char;
              this.guessPos++;
            }
          } // addToGuess()

          removeFromGuess() {
            if (this.guessPos > 0) {
              this.guessPos--;
              this.guess[this.guessPos].val = "_";
            }
          } // removeFromGuess()

          checkGuess() { //still need to make it not intersect guesses + change correctness
            if (this.guessPos == 6 && this.recordPos<6){
              for (let i = 0; i < this.record.length; i++){
                this.record[this.recordPos][i].val = this.guess[i].val;
              }

              this.recordPos+=1
              this.guess = Array(6).fill(null);
              this.guessPos = 0;
              for (let i = 0; i < this.guess.length; i++){
                let sx = this.spacing+(i*(this.squareSize+this.spacing));
                let sy = this.size[1]-this.spacing-this.squareSize;
                this.guess[i] = new square("_", sx, sy, this.squareSize);
              }
            }
          }// checkGuess()
        }// TheWordle class

        class square {
          constructor(value, posX, posY, sz){
            this.x = posX;
            this.y = posY;
            this.val = value;
            this.size = sz;
            this.ctx = playplace.canvas.getContext("2d");
          }

          display(ctx){
            this.ctx.fillStyle ="#757575";
            this.ctx.fillRect(this.x, this.y, this.size, this.size);
            this.ctx.fillStyle = "#ffffff"
            this.ctx.font = "40px monospace";
            let textWidth = this.ctx.measureText(this.val).width;
            let xPos = this.x + (this.size - textWidth) / 2;
            let yPos = this.y + (this.size / 1.25);

            this.ctx.fillText(this.val, xPos, yPos);
          }// display()
        }// square class

        function updateGameArea(){
          playplace.clear();
          myWordle.display();
        }// updateGameArea()

        window.addEventListener("keydown", function(event) {
          event.preventDefault();

          this.key = event.key;
          if(event.key.length == 1){
            this.key = event.key.toUpperCase();
          }

          if (event.key.length == 1 && key >= "A" && key <= "Z") {
            myWordle.addToGuess(key);
            updateGameArea()
          }
          else if (key == "Backspace") {
            myWordle.removeFromGuess();
            updateGameArea()
          }
          else if (key == "Enter") {
            myWordle.checkGuess();
            updateGameArea()
          }
        }
      );

    </script>
  </div>
</body>
</html>
